<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <!-- 공통 CSS -->
        <th:block th:replace="~{fragments/headerScript :: headerScriptFragment}"></th:block>
    </head>
    <body>
   		<!-- header -->
        <th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
        <div>
        
        <!-- content -->
        <th:block layout:fragment="content"></th:block>
    
        </div>
    	<!-- footer -->
        <th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
    </body>
    
    <!-- 공통 스크립트 -->
    <th:block th:replace="~{fragments/footerScript :: footerScriptFragment}"></th:block>
    
    <!-- 페이지별 스크립트 -->
    <th:block layout:fragment="script"></th:block>
</html>